<%= form_with(model: [:admin, @post], data: { turbo: false }) do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <% form.label :title, style: "display: block"%>
    <%= form.text_field :title, class:"form-control", placeholder:"Title"  %>

  </div>

  <div class="mb-3">
    <% form.label :content, style: "display: block" %>
    <%= form.text_area  :content, class:"form-control", placeholder:"Text..." %>
  </div>

  <div class="mb-3">
    <% form.label "Photo" %>
    <%= form.file_field  :image %>
  </div>


  <div>
    <%= form.submit :Submit, class:"btn btn-outline-secondary" %>
  </div>
<% end %>
