<ul class="nav justify-content-end">
  <% if user_signed_in? && current_user.admin?%>
    <li class="nav-item">
      <%= link_to "Edit",  edit_admin_post_path(@post), class:"btn btn-outline-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pdf",  admin_post_path(@post, format: :pdf), class:"btn btn-outline-secondary" %>
    </li>
    <li class="nav-item">
      <%= button_to "Delete", [:admin, @post], method: :delete, data: { turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger"  %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary" %>
  </li>
</ul>
<br/>
<div class="card">
  <div class="card-header">
    <h1><%= @post.title %></h1>
    <div><%= @post.created_at.strftime("%H:%M %d/%m/%Y") %></div>
  </div>
  <div class="card-body">
    <% if @post.image.attached? %>
      <div class="row">
        <img src="<%= (url_for(@post.image))%>">
      </div>
      <br/>
    <% end %>
    <p class="card-text"><%= @post.content %></p>
  </p>
  </div>
</div>
<br/>
<div class="container">
  <h5> <%= @post.comments.count %> Comment<% if @post.comments.count != 1 %>s<% end %></h5>
  <%= render @post.comments %>
  <div>
    <h6>Add Comment</h6>
    <%= render "comments/form"%>
  </div>
</div>
