<ul class="nav justify-content-end">
  <% if user_signed_in? && current_user.admin?%>
    <li class="nav-item">
      <%= link_to "Edit", edit_post_path(@post), class:"btn btn-outline-secondary" %>
    </li>
    <li class="nav-item">
      <%= button_to "Destroy", @post, method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger"  %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary" %>
  </li>
</ul>
<br/>
<div class="card">
  <div class="card-header">
    <h1><%= @post.title %></h1>
    <div><%= @post.created_at.strftime("%H:%M %d/%m/%Y") %></div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @post.content %></p>
  </div>
  </div>
<br/>
<div class="container">
  <h5> <%= @post.comments.count %> Comment<% if @post.comments.count != 1 %>s<% end %></h5>
  <%= render @post.comments %>
  <div>
    <h6>Add Comment</h6>
    <%= render "comments/form"%>
  </div>
</div>
