<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= button_to "Edit", edit_post_path(@post) %>
  </li>
  <li class="nav-item">
    <%= button_to "Destroy", @post, method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
  <li class="nav-item">
    <%= button_to "Back to posts", posts_path%>
  </li>
</ul>
<br/>
<div class="card">
  <div class="card-header">
    <h1><%= @post.title %></h1>
    <div><%= @post.created_at.strftime("%k:%M %d/%m/%Y") %></div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @post.content %></p>
  </div>
  </div>
<br/>
<div class="container">
  <h5> <%= @post.comments.count %> Comments</h5>
  <%= render @post.comments %>
  <div>
    <h6>Add Comment</h6>
    <%= render "comments/form"%>
  </div>
</div>
